#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
    margin: auto;
    width: 50%;
    padding: 10px;
}

#table_container {
    margin: 8rem;
}



thead {
    position: sticky;
    top: -1px; /* Don't forget this, required for the stickiness */
    background: white;
    margin: 0;
    padding: 0;
    
}

.violentCrimesBGColor {
    background-color: #FFDBDB;
}
.propertyCrimesBGColor { 
    background-color: #c8e7ff;
}
.otherCrimesBGColor {
    background-color: #FFFEDC;
}

#legend {
    background-color: #EEEEEE;
   
    
    display: inline;
}

#legend_title {
    text-decoration: underline;
    
    font-size: 1.15rem;
}

.legend_text {
    display: inline;
    
}

#violent_crimes_legend_color_block{ 
    background-color: #FFDBDB;
    color: #FFDBDB;
    display: inline;
    
}

#property_crimes_legend_color_block{ 
    background-color: #c8e7ff;
    color: #c8e7ff;
    display: inline;
}

#other_crimes_legend_color_block{ 
    background-color: #FFFEDC;
    color: #FFFEDC;
    display: inline;
}

.table_rows {
    border: 1px solid #B1B1B1;
    
}

.table_rows:hover {
    border: 2px solid #444444;
    border-left: 4px solid #444444;
    cursor: pointer;
}



#incident_type_fieldset {
    
}

#ui_controls_title {
    margin-left: 1rem;
}

.fieldset {
    margin: 1rem;
    margin-bottom: 3rem;
    
}

#middle_or {
    text-align: center;
}

.table-scroll {
    width: max-width;
    display: block;
    height: 700px;
    overflow-y: auto;
    overflow-x: auto;
}

table th { 
    position: sticky;
    top: 0;
    background: white;
}