#leafletmap {
    width: 100%;  /* feel free to change this! */
    height: 500px; /* feel free to change this! */
    margin: auto;
    padding: 5px;
}

#table_container {
    margin: 2rem;
}

.sticky-topbar {
    width: 100%;
}

.developerdiv {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: auto;
    height: auto;
    text-align: center;
}

.headshot {
    margin-bottom: .75rem;
    height: 300px;
    width: 300px;
    border-radius: 50%;

}

.coord-header{
    text-align:center;
    font-size: 1.4rem;
}

thead {
    position: sticky;
    top: -6px; /* Don't forget this, required for the stickiness */
    margin: 0;
    padding: 0;
    
}

.violentCrimesBGColor {
    background-color: #FFDBDB;
}
.propertyCrimesBGColor { 
    background-color: #c8e7ff;
}
.otherCrimesBGColor {
    background-color: #FFFEDC;
}

#legend {
    background-color: #EEEEEE;
    display: inline;
}

#legend_title {
    text-decoration: underline;
    
    font-size: 1.15rem;
}

.legend_text {
    display: inline;
    margin: auto;
    
}

.outer-table-head {
    display: inline-block;
    vertical-align:middle;
}

.outer {
    text-align: left;  
    
    display: inline;
}

.outer_legend {
    text-align: left;  
    
}

.inner {
    margin: auto;
    margin-left: .4rem;
}


#violent_crimes_legend_color_block{ 
    background-color: #FFDBDB;
    color: #FFDBDB;
    display: inline;
    
}

#property_crimes_legend_color_block{ 
    background-color: #c8e7ff;
    color: #c8e7ff;
    display: inline;
}

#other_crimes_legend_color_block{ 
    background-color: #FFFEDC;
    color: #FFFEDC;
    display: inline;
}

.table_rows {
    border: 1px solid #B1B1B1;
    background-color: #e6e6e6;
}

.table_rows:hover {
    border: 2px solid #444444;
    border-left: 4px solid #444444;
    cursor: pointer;
}


#ui_controls_title {
    margin-left: 1rem;
}

.fieldset {
    margin: 1rem;
    margin-bottom: 3rem;
    
}

#middle_or {
    text-align: center;
}

.table-scroll {
    width: 100%;
    display: block;
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    margin: auto;
    padding: 5px;
}

table th { 
    position: sticky;
    background: #e6e6e6;
    
}

.filter-button{ 
    position: sticky;
    bottom: 0;
    background: white;
}

.filter-button input{
      display: flex;
  justify-content: center;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /*top: 0;
    left: 0;*/
    background-color: white ; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .input-check {
    /*vertical-align:middle;*/
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }

  .input-label {
    /*padding: 8px 8px 8px 32px;*/
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav input:hover{
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .about_list {
    display: table;
    margin: 0 auto;
    text-align: left;
  }

  .rows-returned {
      text-align: center;
      font-size: 1.2rem;
  }

  .video-style {
    padding: 60px 0;
  }

  .about-text {
      text-align: justify;
  }