#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}

#table {
    margin: 8rem;
}



thead {
    position: sticky;
    top: -1px; /* Don't forget this, required for the stickiness */
    background: white;
    margin: 0;
    padding: 0;
    
}

.violentCrimesBGColor {
    background-color: #FFDBDB;
}
.propertyCrimesBGColor { 
    background-color: #E3F5FF;
}
.otherCrimesBGColor {
    background-color: #FFFEDC;
}

#legend {
    background-color: #EEEEEE;
    width: 10%;
    text-align: center;

}

#legend_title {
    text-decoration: underline;
    text-align: center;
}

.legend_text {
    display: inline;
    
}

#violent_crimes_legend_color_block{ 
    background-color: #FFDBDB;
    color: #FFDBDB;
    display: inline;
    
}

#property_crimes_legend_color_block{ 
    background-color: #E3F5FF;
    color: #E3F5FF;
    display: inline;
}

#other_crimes_legend_color_block{ 
    background-color: #FFFEDC;
    color: #FFFEDC;
    display: inline;
}